<header class="page-header">
  <h1>Dashboard</h1>
</header>
<div class="text-muted">
  <h2><em>Welcome back.</em></h2>
</div>
<div class="text-info">
  <h3>You have <%= link_to (pluralize @product_count, 'type'), '/admin/products' %> of products in stock</h2>
  <h3>You have <%= link_to (pluralize @category_count, 'category'), '/admin/products' %> of products in stock</h2>
</div>